@use "../variables" as v;

@mixin button(){
    button {
        display: grid;
        background-image: v.$container-bg;
        color: v.$black;
        border: none;
        padding: .5rem 1rem;
        font-family: v.$font-family;
        font-size: 1rem;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 300;
        margin-top: 1rem;
        justify-self: center;
        cursor: pointer;
        &:hover {
            background-image: v.$main-bg;
        }
    }
}