@use "variables" as v;

.container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-image: v.$container-bg;
    main {
        background-image: v.$main-bg;
        border-radius: 8px;
        width: 70%;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
        h3 {
            font-family: v.$font-family;
            font-weight: 500;
            color: v.$black;
            text-align: center;
            letter-spacing: 0.3rem;
            padding: 0.8rem;
        }
        > p {
            color: v.$black;
            font-family: v.$font-family;
            font-size: 0.7rem;
            text-align: center;
            padding: 1rem;
            span{
                 font-weight: 600;
                cursor: pointer; 
                }
        }
    }
}