// FONTS
$font-family: 'Roboto', sans-serif; 

//Background
$container-bg: linear-gradient(to right top, #0caaaa, #53bea8, #83d1a6, #b2e2a7, #e0f2ae);
$main-bg: linear-gradient(to left top, #0caaaa, #53bea8, #83d1a6, #b2e2a7, #e0f2ae);

//Shadows
$shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

// Colors
$black : #070707;
$white: #ecebeb;
$error: #ff3737;